main{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    background-color: rgb(113, 187, 190);

}



.checkout-bg{
    background-color: rgb(194, 170, 207);
    min-height:100vh;
}

h3{
    color:blueviolet;
}

.card{
    opacity: 75%;
}



.title{
    background-color: rgb(112, 220, 220);
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color:rgb(77, 52, 88)
}


